Repository wuespace/telestion-client, pull requests merged in 2021-02, with the labels that each got.

#278 feat(cli)!: Add `tc-cli generate widget` command
  package-lock.json
  packages/telestion-client-cli/package.json
  packages/telestion-client-cli/src/commands/generate.js
  packages/telestion-client-cli/src/lib/generate/widget/createWidgetIndexTS.js
  packages/telestion-client-cli/src/lib/generate/widget/createWidgetTSX.js
  packages/telestion-client-cli/src/lib/generate/widget/index.js
  packages/telestion-client-cli/src/lib/modify-file.js
  packages/telestion-client-template/template/src/widgets/index.ts.ejs
Labels: enhancement :hammer:, javascript :scroll:, telestion-client-cli :arrow_forward:, telestion-client-template :clipboard:

#279 feat(cli): Add `tc-cli stats` command implementation
  packages/telestion-client-cli/src/commands/stats.js
Labels: enhancement :hammer:, javascript :scroll:, telestion-client-cli :arrow_forward:

#294 fix: Fix custom login page implementation in both the template and documentation
  lerna.json
  packages/telestion-client-common/src/components/pages/login-page/login-description.tsx
  packages/telestion-client-common/src/components/pages/login-page/login-form/login-form.tsx
  packages/telestion-client-common/src/components/pages/login-page/login-logo.tsx
  packages/telestion-client-common/src/components/pages/login-page/login-page.tsx
  packages/telestion-client-common/src/components/pages/login-page/login-title.tsx
  packages/telestion-client-template/template/src/components/login-page.tsx.ejs
Labels: bug :construction:, documentation :books:, telestion-client-common :tophat:, telestion-client-template :clipboard:

#304 REBASE: fix(common): Type Error in login description component
  packages/telestion-client-common/src/components/pages/login-page/login-description.tsx
Labels: bug :construction:, telestion-client-common :tophat:

#306 MERGE-BY-REBASE: fix(template)!: Add `eslintConfig` to PSC package.json
  packages/telestion-client-template/template/package.json.ejs
Labels: bug :construction:, telestion-client-template :clipboard:

#318 REBASE: fix(template): Add browserslist to package.json
  packages/telestion-client-template/template/package.json.ejs
Labels: bug :construction:, telestion-client-template :clipboard:

#317 REBASE: feat(mock-server): Make prefix and hostname customizable
  packages/vertx-mock-server/src/vertx-mock-server.ts
Labels: bug :construction:, enhancement :hammer:, vertx-mock-server :crystal_ball:

#366 fix(common): Fix types of `LoadingIndicator`
  packages/telestion-client-common/src/components/widget-helper/loading-indicator.tsx
Labels: bug :construction:, telestion-client-common :tophat:
