Repository wuespace/telestion-client, pull requests merged in 2021-03, with the labels that each got.

#367 REBASE: fix(types): Add possible types to JSON serializable in object and array
  packages/telestion-client-types/src/json-serializable.ts
Labels: bug :construction:, telestion-client-types :wrench:

#393 REBASE: fix(types): Allow undefined in generic props for widgets
  packages/telestion-client-types/src/widgets/widget.ts
Labels: enhancement :hammer:, telestion-client-types :wrench:

#431 fix(deps)!: Fix issues with react-spectrum v3.9
  package-lock.json
  package.json
  packages/telestion-client-common/package.json
  packages/telestion-client-common/src/components/header/account-controls/avatar-button.tsx
  packages/telestion-client-common/src/components/header/actions/actions.stories.mdx
  packages/telestion-client-common/src/components/header/actions/color-scheme-action.tsx
  packages/telestion-client-common/src/components/header/actions/fullscreen-action.tsx
  packages/telestion-client-common/src/components/header/actions/notification-action.tsx
Labels: bug :construction:, dependencies :link:

#350 REBASE: feat/common/loading-indicator improves TypeScript support and fixes inferred type error
  base-configs/eslint.react.js
  packages/telestion-client-common/src/components/widget-helper/loading-indicator.tsx
  packages/telestion-client-common/src/hooks/use-dependency-timeout.ts
  packages/telestion-client-common/src/lib/index.ts
  packages/telestion-client-common/src/lib/is-defined-value.ts
  packages/telestion-client-common/src/lib/utility-types.ts
Labels: bug :construction:, enhancement :hammer:, telestion-client-common :tophat:

#438 REBASE: chore(deps): Security fix for xmldom dependency
  package-lock.json
Labels: dependencies :link:, javascript :scroll:, security :pushpin:
